:root{
  --buttercup: #f2a30b;
  --cod-gray: #0b0b0b;
  --dark-blue: #0c2fdf;
  --lemon: #fbe407;
  --salomie: #ffe182;
  
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--cod-gray);
  color: var(--buttercup);
}

.polygon-chapter { fill:var(--buttercup); }

.main-chapter video { box-shadow: 0px 0px 10px 0px var(--lemon); }

.a-chapter { display: block; }

.main-chapter {
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: absolute;
  top: calc(50% - 100px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.column-chapter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lateral-chapter { margin-top: 100px; }

.center-chapter {
  margin-left: 50px;
  margin-right: 50px;
}

.bt-l-chapter {
  width: 50px;
  height: 50px;
  transform: rotate(90deg);
}

.bt-r-chapter {
  width: 50px;
  height: 50px;
  transform: rotate(-90deg);
}

.titles-chapter {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  text-align: center;
  height: 100px;
}

.tl1-chapter { font-size: 18px; }

.tl2-chapter { font-size: 24px; }

.disabled-chapter {
  pointer-events: none;
  opacity: .5;
}